{% extends 'bootstrap/base.html' %}
{% block title %}Add Inventory{% endblock %}
{% block content %}
<h1>Add a new inventory item</h1>
<a href="/">All items</a>
<form method="post">
<table class="table">
  <thead>
  <tr>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">mac_address</th>
      <th scope="col">serial_number</th>
      <th scope="col">manufacturer</th>
      <th scope="col">description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><input type="text" name="name" id="name" required maxlength="30"></td>
      <td><input type="number" name="price" id="price" required></td>
      <td><input type="text" name="mac_address"   id="mac_address" required maxlength="17"></td>
      <td><input type="text" name="serial_number" id="serial_number" required maxlength="20"></td>
      <td><input type="text" name="manufacturer"  id="manufacturer" required maxlength="15"></td>
      <td><input type="text" name="description"   id="description" required maxlength="255"></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" type="submit">Add new inventory item</button>
</form>

{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}